HOST_A_CONDA_SH=/home/xujunwei/miniconda3/etc/profile.d/conda.sh
HOST_A_CONDA_ENV=open-mmlab
HOST_A_PYTHON=/home/xujunwei/miniconda3/envs/open-mmlab/bin/python
BEVFORMER_SOURCE_ROOT=/home/xujunwei/BEVFormer_ai
BEVFORMER_RESULT_PKL=/path/to/ten_frame_result.pkl
HOST_A_VISUALIZATION_OUTPUT_ROOT=/home/xujunwei/bevformer_aidlite_qnn240_visdev/outputs/host_a_visualization
