HOST_A_CONDA_SH=/home/xujunwei/miniconda3/etc/profile.d/conda.sh
HOST_A_CONDA_ENV=open-mmlab
HOST_A_PYTHON=/home/xujunwei/miniconda3/envs/open-mmlab/bin/python
BEVFORMER_SOURCE_ROOT=/home/xujunwei/BEVFormer_ai
LOCAL_PYTORCH_VISUALIZATION_DIR=/home/xujunwei/BEVFormer_ai/audit_runs/local_bevformer_full_demo_unseen10_fixed_20260630_114535/visualization
QNN240_VISUALIZATION_DIR=/home/xujunwei/BEVFormer_ai/audit_runs/phase5_4_all_board_visualization_20260702_144126/render/run_20260702_144225/visualization
THREE_WAY_VISUALIZATION_OUTPUT_ROOT=/home/xujunwei/BEVFormer_ai/audit_runs/gt_pytorch_qnn240_three_way_visualization
